<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Municípios</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/admin/home">Home</a></li>
                    <li class="breadcrumb-item active">Municipios</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row align-items">
                            <div class="col-6">
                                <h3 class="card-title">Municípios Cadastradas</h3>
                            </div>
                            <div class="col-6 text-right">
                                <a [routerLink]="['/admin/novo-municipio']" class="btn btn-success"><i
                                        class="fa fa-plus"></i> Adicionar Novo</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 alert alert-danger my-2" *ngIf="errors.length > 0">
                                <h5>Opa! Alguma coisa não deu certo:</h5>
                                <ul>
                                    <li *ngFor="let error of errors">{{ error }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Nome</th>
                                    <th>Província</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let municipio of municipios">
                                    <td>{{municipio.nome}}</td>
                                    <td>{{municipio.provincia}}</td>
                                    <td class="text-right">
                                        <a class="btn-sm btn-info"
                                            [routerLink]="['/admin/detalhes-municipio/',municipio.id]">
                                            <span class="fa fa-search"></span>
                                        </a>&nbsp;
                                        <a class="btn-sm btn-warning"
                                            [routerLink]="['/admin/editar-municipio/',municipio.id]">
                                            <span class="fa fa-pencil-alt"></span>
                                        </a>&nbsp;
                                        <a class="btn-sm btn-danger" href="javascript:void(0)" (click)="abrirModal(municipio.id)" data-toggle="modal" data-target="#excluir" >
                                            <span class="fa fa-trash"></span>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer clearfix">
                        <ul class="pagination pagination-sm m-0">
                            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="excluir">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-body text-center">
                    <h3>Você tem certeza?</h3>
                    <p>O item selecionado será removido.</p>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" (click)="excluir()" class="btn btn-danger">Confirmar</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal" id="modalExcluir">Cancelar</button>
                </div>
            </div>

        </div>

    </div>
</section>