<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Editar Produto</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a [routerLink]="['/admin/produtos']">Produtos</a></li>
                    <li class="breadcrumb-item active">Editar produto</li>
                </ol>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Editar produto</h3>
                    </div>

                    <div class="card-body p-0">
                        <form class="form-horizontal" (ngSubmit)="editar()" [formGroup]="produtoForm">
                            <div class="alert alert-danger" *ngIf="errors.length > 0">
                                <h3>Opa! Alguma coisa não deu certo:</h3>
                                <ul>
                                    <li *ngFor="let error of errors">{{ error }}</li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="nome" class="col-sm-2 col-form-label">Nome</label>
                                        <div>
                                            <input type="text" class="form-control" id="nome" placeholder="Nome (requerido)" formControlName="nome" [ngClass]="{'is-invalid': displayMessage['nome'] }">
                                            <span class="text-danger" *ngIf="displayMessage['nome']">
                                                <p [innerHTML]="displayMessage['nome']"></p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="precoUnitario" class="col-sm-4 col-form-label">Preço Unitário</label>
                                        <div>
                                            <input type="number" class="form-control" id="nome" placeholder="Preço (requerido)" formControlName="precoUnitario" [ngClass]="{'is-invalid': displayMessage['precoUnitario'] }">
                                            <span class="text-danger" *ngIf="displayMessage['precoUnitario']">
                                                <p [innerHTML]="displayMessage['precoUnitario']"></p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="categoria" class="col-sm-4 col-form-label">Categoria</label>
                                        <div>
                                            <select class="form-control" id="categoria" formControlName="categoriaId" [ngClass]="{'is-invalid': displayMessage['categoriaId'] }">
                                                <option *ngFor="let categoria of categorias" value="{{categoria.id}}">{{categoria.descricao}}</option>
                                            </select>                                           
                                             <span class="text-danger" *ngIf="displayMessage['categoriaId']">
                                                <p [innerHTML]="displayMessage['categoriaId']"></p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="unidade" class="col-sm-4 col-form-label">Unidade</label>
                                        <div>
                                            <select class="form-control" id="unidade" formControlName="unidadeId" [ngClass]="{'is-invalid': displayMessage['unidadeId'] }">
                                                <option *ngFor="let unidade of unidades" value="{{unidade.id}}">{{unidade.descricao}}</option>
                                            </select>                                           
                                             <span class="text-danger" *ngIf="displayMessage['unidadeId']">
                                                <p [innerHTML]="displayMessage['unidadeId']"></p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="imposto" class="col-sm-4 col-form-label">Imposto</label>
                                        <div>
                                            <select class="form-control" id="imposto" formControlName="impostoId" [ngClass]="{'is-invalid': displayMessage['impostoId'] }">
                                                <option *ngFor="let imposto of impostos" value="{{imposto.id}}">{{imposto.descricao}}</option>
                                            </select>                                           
                                             <span class="text-danger" *ngIf="displayMessage['impostoId']">
                                                <p [innerHTML]="displayMessage['impostoId']"></p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="motivo" class="col-sm-4 col-form-label">Motivo</label>
                                        <div>
                                            <select class="form-control" id="motivoId" formControlName="motivoId" [ngClass]="{'is-invalid': displayMessage['motivoId'] }">
                                                <option *ngFor="let motivo of motivos" value="{{motivo.id}}">{{motivo.motivo}}</option>
                                            </select>                                           
                                             <span class="text-danger" *ngIf="displayMessage['motivoId']">
                                                <p [innerHTML]="displayMessage['motivoId']"></p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="descricao" class="col-sm-4 col-form-label">Descrição</label>
                                        <div>
                                            <textarea class="form-control" rows="3" placeholder="Descrição ..." formControlName="descricao" [ngClass]="{'is-invalid': displayMessage['descricao'] }"></textarea>
                                            <span class="text-danger" *ngIf="displayMessage['descricao']">
                                                <p [innerHTML]="displayMessage['descricao']"></p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="observacao" class="col-sm-4 col-form-label">Observação</label>
                                        <div>
                                            <textarea class="form-control" rows="3" placeholder="Observação ..." formControlName="observacao" [ngClass]="{'is-invalid': displayMessage['observacao'] }"></textarea>
                                            <span class="text-danger" *ngIf="displayMessage['observacao']">
                                                <p [innerHTML]="displayMessage['observacao']"></p>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row align-items-center">
                                    <div class="form-group col-10">
                                        <label for="precoPromocional" class="col-sm-4 col-form-label">Preço Promocional</label>
                                        <div>
                                            <input type="number" class="form-control" id="precoPromocional" placeholder="Preço promocional" formControlName="precoPromocional" [ngClass]="{'is-invalid': displayMessage['precoPromocional'] }">
                                            <span class="text-danger" *ngIf="displayMessage['precoPromocional']">
                                                <p [innerHTML]="displayMessage['precoPromocional']"></p>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <label  class="col-sm-4 col-form-label"></label>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="emPromocao" value="false" formControlName="emPromocao" [ngClass]="{'is-invalid': displayMessage['emPromocao'] }" (click)="produtoEmPromocao()">
                                            <label for="emPromocao" class="custom-control-label">Em Promoção</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-2">
                                    <div class="form-group col-6">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="novoLancamento" value="false" formControlName="novoLancamento" [ngClass]="{'is-invalid': displayMessage['novoLancamento'] }">
                                            <label for="novoLancamento" class="custom-control-label">Novo Lançamento</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="destaque" value="false" formControlName="destaque" [ngClass]="{'is-invalid': displayMessage['destaque'] }">
                                            <label for="destaque" class="custom-control-label">Destaque</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="maisVendido" value="false" formControlName="maisVendido" [ngClass]="{'is-invalid': displayMessage['maisVendido'] }">
                                            <label for="maisVendido" class="custom-control-label">Mais Vendido</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="emEstoque" value="false" formControlName="emEstoque" [ngClass]="{'is-invalid': displayMessage['emEstoque'] }">
                                            <label for="emEstoque" class="custom-control-label">Em Estoque</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="maisProcurado" value="false" formControlName="maisProcurado" [ngClass]="{'is-invalid': displayMessage['maisProcurado'] }">
                                            <label for="maisProcurado" class="custom-control-label">Mais Procurado</label>
                                        </div>
                                        <div class="custom-control custom-checkbox">
                                            <input class="custom-control-input" type="checkbox" id="activo" value="true" formControlName="activo" [ngClass]="{'is-invalid': displayMessage['activo'] }">
                                            <label for="activo" class="custom-control-label">Activo</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">                                
                                    <div class="form-group">
                                        <div class="custom-file">
                                            <input type="file" accept="image/jpeg,image/png" class="custom-file-input" id="urlImagemPrincipal" formControlName="urlImagemPrincipal" (change)="fileChangeEvent($event)" [ngClass]="{'is-invalid': displayMessage['urlImagemPrincipal'] }">
                                            <label class="custom-file-label" for="urlImagemPrincipal">Selecione a imagem</label>
                                            <span *ngIf='imagemNome'><br>{{ imagemNome }}<br></span>
                                            <span class="text-danger" *ngIf="displayMessage['urlImagemPrincipal']">
                                                <p [innerHTML]="displayMessage['urlImagemPrincipal']"></p>
                                            </span>
                                        </div>
                                        <div *ngIf='imagemNome' class="row my-2">
                                            <div class="col col-md-6">
                                                <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="false" [containWithinAspectRatio]="containWithinAspectRatio" [aspectRatio]="4 / 3" [resizeToWidth]="250" [cropperMinWidth]="128" [onlyScaleDown]="true" [roundCropper]="false"
                                                    [canvasRotation]="canvasRotation" [transform]="transform" [alignImage]="'left'" [style.display]="showCropper ? null : 'none'" format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady($event)"
                                                    (loadImageFailed)="loadImageFailed()"></image-cropper>
                                            </div>
                                            <div class="col col-md-6">
                                                <img [src]="croppedImage" [style.border]="croppedImage ? '1px solid #ddd' : 'none'" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <a [routerLink]="['/admin/categorias']" class="btn btn-default">Voltar</a>
                                <button [disabled]="!produtoForm.valid"  type="submit" class="btn btn-info ml-2">Salvar</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>